<% layout("layouts/boilerplate.ejs") %>

<div class="row">
    <div class="col-6 alert alert-danger" style="text-align: center;margin: auto;" role="alert">
      <b>  <%= status %> : <%= message%> </b>
    </div>
</div>